/* ====================================================Nav Bar*/
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

section {
  max-width: 1400px !important;
}

body {
  width: 100%;

  /* display: block; */
  margin: auto;
  min-height: 100vh;
  background: #191919;
  font-family: sans-serif;
}

.navbar {
  border-radius: 10%;
  width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #bbacac;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: .5s;
  font-size: 20px;
}

.link a:hover,
.link.active a {
  opacity: 1;
}

@media(max-width: 950px) {
  .link a {
    padding: 5px 15px;
    margin: 0 10px;
    line-height: 60px;
    font-size: 15px;
  }
}

@media(max-width: 600px) {
  .link a {
    padding: 5px 10px;
    margin: 0 10px;
    line-height: 40px;
    font-size: 14px;
  }
}

/* ========================================================me */
.home-section {
  width: 100%;
  height: 100vh;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.hero-heading {
  position: fixed;
  margin-top: 100px;
  color: #fff;
  font-size: 8rem;
  text-transform: capitalize;
  font-weight: 300;
}

.home-img {
  position: fixed;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 5%;
}



@media(max-width: 1230px) {
  .hero-heading {
    font-size: 6rem;
  }
}

@media(max-width: 950px) {
  .hero-heading {
    margin-top: 5%;
    font-size: 5rem;
    padding-left: 15%;
  }

  .home-section {
    padding: 0 100px;
  }

  .home-img {
    position: absolute;
    top: 0;
    right: 30%;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 5%;
  }
}

@media(max-width: 785px) {
  .home-section {
    padding: 0 60px;
  }

  .hero-heading {
    margin-top: 10%;
    font-size: 3rem;
    padding-left: 15%;
  }
}

@media(max-width: 670px) {
  .home-section {
    padding: 0 40px;
  }

  .hero-heading {
    margin-top: 10%;
    font-size: 3rem;
    padding-left: 5%;
    width: 15ch;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(15) infinite alternate-reverse;
  }


  @keyframes typing {
    from {
      width: 0ch;
    }
  }

  .home-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 5%;
  }
}



/* ===================================================timeline*/
.forTTimeLine {
  margin-top: 150em;
  place-content: center;
}

.timeline {
  display: block;
  width: 80%;
  margin: 150px auto;
}

.timeline .heading {
  margin-bottom: 150px;
}

.card {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: -80px 0;
  position: relative;
  background: #f00;
}

.card:nth-child(even) {
  margin-left: auto;
}

.card:nth-child(even):before {
  content: '';
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(even):after {
  content: '';
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(odd):before {
  content: '';
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(odd):after {
  content: '';
  position: absolute;
  right: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(2),
.card:nth-child(2):before {
  background: #ff4f4f;
}

.card:nth-child(3),
.card:nth-child(3):before {
  background: #ffb84f;
}

.card:nth-child(4),
.card:nth-child(4):before {
  background: #3dca5c;
}

.card:nth-child(5),
.card:nth-child(5):before {
  background: #565252;
}

.card:nth-child(6),
.card:nth-child(6):before {
  background: #4fa0ff;
}

.card:nth-child(even) .card-body:before {
  content: '';
  position: absolute;
  left: -12%;
  top: 0;
  width: 0px;
  height: 100%;
  border: 1px dashed #fff;
  z-index: -1;
}

.card-title {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

/* ===================================================active styles */
.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  display: block !important;
  position: relative;
  opacity: 1;
  z-index: 8;
}

/* =====================================================project section */
.project-section {
  width: 100%;
  min-height: 100vh;
  padding: 10% 10% 10%;
  position: fixed;
  top: 0;
  transition: 1s;
  opacity: 0;
}

.project-heading {
  font-size: 7em;
  background: #362e2e;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: #76766f;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}

.project-card {
  height: 70vh;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: .5s;
}

.project-content {
  position: relative;
  padding: 10%;
  color: #fff;
  transition: .5s;
  opacity: 0;
}

.project-title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  color: #000;
}

.project-info {
  margin: 15%;
  font-size: 1em;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
}

.project-btn {
  height: 7vh;
  text-transform: capitalize;
  font-size: 1em;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}


.project-card:hover .project-img {
  filter: blur(20px);
}

.project-card:hover .project-content {
  opacity: 1;
}

/* =======================================================skills */

.skill-section {
  position: relative;
  margin: 10% 0;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 10%;
}

.skills-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  color: #fff;
}

.skill-card {
  position: relative;
  height: 70vh;
  padding-bottom: 0;
}

.skill-img {
  display: block;
  margin: auto;
  height: 40%;
}

.skill-name {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  margin: 7% 0 7%;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 1rem;
  line-height: 30px;
}

.skill-level {
  position: absolute;
  top: 10%;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
  background: #ff4f4f28;
  border-color: #ff4f4f;
  color: #ff4f4f;
  animation: coloring1 1s infinite alternate-reverse;
}


.skill-card:nth-child(2) .skill-level {
  background: #4fa0ff28;
  border-color: #4fa0ff;
  color: #4fa0ff;
  animation: coloring2 1s infinite alternate-reverse;
}



.skill-card:nth-child(3) .skill-level {
  background: #ffed4f28;
  border-color: #ffed4f;
  color: #ffed4f;
  animation: coloring3 1s infinite alternate-reverse;
}



.skill-card:nth-child(4) .skill-level {
  background: #52ff4f28;
  border-color: #52ff4f;
  color: #52ff4f;
  animation: coloring4 1s infinite alternate-reverse;
}



.skill-card:nth-child(5) .skill-level {
  background: #4fdfff28;
  border-color: #4fdfff;
  color: #4fdfff;
  animation: coloring5 1s infinite alternate-reverse;
}


@media (max-width: 900px) {
  .project-section {
    width: 100%;
    min-height: 100vh;
    padding: 50px 50px 50px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
  }

  .project-heading {
    width: 100%;
    /* margin-left: 20%; */
    font-size: 5em;
    background: #362e2e;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #76766f;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
  }

  .project-title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    color: #000;
  }

  .project-info {
    margin: 15%;
    font-size: 1em;
    line-height: 90%;
    text-align: center;
    color: #000;
  }

  .skills-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    color: #fff;
  }


}

@media(max-width: 590px) {
  .project-heading {
    width: 100%;
    /* margin-left: 20%; */
    font-size: 3em;
    background: #362e2e;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #76766f;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
  }

  .project-container {
    width: 100%;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
    margin-bottom: 40%;
  }

  .project-card {
    height: 70vh;
    position: relative;
  }

  .project-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
  }

  .skills-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
    color: #fff;
  }

  .skill-level {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
  }

  .heading {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .skills-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
    color: #fff;
  }

  .skill-card {
    position: relative;
    height: 50vh;
    padding-bottom: 0;
  }

  .skill-img {
    display: block;
    margin: auto;
    height: 30%;
  }

  .skill-name {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    margin: 7% 0 7%;
  }

  .skill-info {
    word-wrap: break-word;
    text-align: center;
    opacity: 0.5;
    font-size: 14px;
    line-height: 30px;
  }

  .skill-level {
    position: absolute;
    top: 10%;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
  }

  .skill-level {
    position: absolute;
    top: 10%;
    right: 15%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
  }
}

/* ============================================about me */

.about-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 0;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 40px;
}

.about-img-container {
  position: relative;
}

.about-info {
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  line-height: 40px;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.download-cv-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
  background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover {
  background: #000;
}



/* ======================================================timeline */


/* ===============================contact============================== */

.contact-section {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
  padding: 100px 150px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 10px;
}

::placeholder {
  color: #fff;
}

#msg {
  height: 280px;
  resize: none;
  font-family: sans-serif;
}

.form-submit-btn {
  background: #ff4f4f;
  color: #fff;
  text-transform: capitalize;
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}



/* ==============================================================mobile version */






@keyframes coloring5 {
  from {
    border-color: #408594;
    color: #408594;
  }
}

@keyframes coloring4 {
  from {
    border-color: #028200;
    color: #028200;
  }
}

@keyframes coloring3 {
  from {
    border-color: #a19100;
    color: #a19100;
  }
}

@keyframes coloring2 {
  from {
    border-color: #00438f;
    color: #00438f;
  }
}

@keyframes coloring1 {
  from {
    border-color: #d20000;
    color: #d20000;
  }
}